:root {
    --rosa-nude: #E3B7A0; /*Fondo de secciones, botones secundarios, toques en imágenes.*/
    --verde-salvia: #A8B5A2; /*Detalles sutiles, íconos o fondos de secciones especiales.*/
    --dorado: #C4A484; /*Botones principales, detalles elegantes, líneas divisorias.*/
    --negro-carbon: #1E1E1E; /*Texto principal, títulos, contraste con los tonos claros.*/
    --blanco-marfil: #F8F5F2; /*Fondo principal, tarjetas de productos, espacios vacíos.*/
}

/**Estilos generales**/h1 {
    font-size: 3rem;
}

h2 { 
    font-size: 2.5rem;
}

h3 { 
    font-size: 2rem;
}

h4 { 
    font-size: 1.75rem;
}

h5 { 
    font-size: 1.5rem;
}

h6 { 
    font-size: 1.25rem;
}

button:hover, input[type='submit']:hover {
    background-color: #1E1E1E;
    color: var(--dorado);
    
}


/**Estilos del menú**/
#menu-lista {
    flex-direction: row;
    padding: 0;
    gap: 2rem;
}

.menu-lista-item {
    padding: 1rem 0.5rem;
}

#item-carrito {
    display: none;
}

#menu-contenedor-carrito {
    display: flex;
}

#menu-icono-menu {
    display: none;
}

.menu-lista-item {
    width: unset;
}

#menu-icono-cerrar {
    display: none;
}

nav {position: relative;
    width: auto;
    display: flex;
    gap: 0;
    padding: 0;
    background-color: transparent;
}


.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    display: flex;
    visibility: hidden;
    /* width: 15rem; */
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
    font-size: 14px;
    justify-content: center;
    min-width: 25rem; /* Se expande si el texto es más largo */
    max-width: 30rem; /* Evita que sea demasiado ancho */
    white-space: normal; /* Permite saltos de línea */

    /* Posición */
    position: absolute;
    bottom: -4.7rem;
    left: 50%;
    transform: translateX(-50%);
         
    /* Animación */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Flecha del tooltip */
.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 2.4rem;
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: red transparent transparent transparent;
}

/* Mostrar tooltip al hacer hover */
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/**Estilos del main**/